body{
    background: linear-gradient(to left, #190a4eb0,#1e0d4c);/*Esto es para combinar varios colores a la ves*/
}
h1{
    font-size: 20px;/*para el tamaño de letra*/
    text-align: center;/*para centrar el texto*/
    font-style: italic;/*permite canviar la tipografia*/
    background: #58e29296;/*color de fondo*/
    color: black;/*color de la letra*/
    border-style: solid;/*estilo de bordeado solido */
    box-sizing: border-box;/*estira el padding y despues el border formando un tamaño total*/
    box-shadow: 0 4px 8px #1f07fd; /* Agregué un desplazamiento de sombra */
    padding: 12px 16px;/*aumenta 12px arriba y disminuye 16px abajo la distancia en el contenido de los bordes*/
    text-transform: capitalize;/*coloca la primera letra de cada palabra en mayuscula*/
}
.problema/*input para escribir su problema*/{
    width: 70%;/*anchura del input text*/
    position: absolute;/*se coloca en relación al contenedor más cercano que tenga una posición distinta a*/
    box-shadow: 0 10px 20px #231185;/*el sombreado hacia abajo y hacia la izquierda*/
    left: 50%;/*50% hacia la izquierda*/
    transform: translateX(-50%);/*desplaza el elemento un -95% , en relación con su propio tamaño (anchura y altura).*/
    
}
.S/*boton de enviar*/{
    position: relative;/*Es útil para crear diseños más flexibles y esta 20 pixeles hacia arriba*/
    width: 15%;/*15% de anchura */
    top: 30px;/*30 pixeles hacia la izquierda*/
    box-shadow: 0 10px 20px #00fa60a2;
    left: 118%;/*118% hacia la izquierda*/
    transform: translateX(-500%);/*desplaza el elemento un -500% , en relación con su propio tamaño (anchura y altura).*/
}
.active/*en un boton para regresar al inicio*/{
    background-color: aqua;/*color de fondo*/
    position: relative;/*Es útil para crear diseños más flexibles y esta 20 pixeles hacia arriba*/
    left: 745px;/*660pixeles hacia la izquierda*/
    top: 150px;/*150 pixeles hacia la izquierda*/
}